.benefits{
    display: flex;
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:first-child{
        padding-left: 0;

    }

    &:last-child{
        padding-right: 0;
        
        &:before {
            display: none;
        }
    }

    &:before {
        content: url("../components/img/decor/Shape.png");
        position: absolute;
        top: 100px;
        right: 0;
        transform: translateX(50%);
    }
}