
.headline__title{
   
    margin-bottom: rem(25px);
}
.headline__subtitle{
    text-align: center;
    padding: 0 32%;

    @include tablets{
        text-align: center;
        padding: 0 20%;
    }


    @include phones{
       
       text-align: center;
       padding: 0 0%;
       font-size: 14px;
    }
}

    


