
.headline__title{
   
    margin-bottom: 25px;
}
.headline__subtitle{
    text-align: center;
    padding: 0 32%;
    /*
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 49px;
    */
}


