.hero{
 
    //background: url(../components/img/decor/узор1.png) right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    max-height: rem(650px);
    color: #ffffff;
    position: relative;

    

    &:before, &:after {
        @include tablets {
            display: none;
        }
    }
    &:before{
        content: url("../components/img/decor/Лист3.png");
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
    }

    &:after{
        content: url("../components/img/decor/Ягода2.png");
        position: absolute;
        bottom: rem(-40px);
        right: rem(91px);
    }

}
.hero__title-section{
    width: 46%;

    @include tablets{
       width: 100%;
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: center; 
       align-items: center;
       text-align: center;

       &:before{
          // content: url("../components/img/decorhero/hero-bar.png");
       }
    }
    
}
.hero__icon-section{
    @include tablets{
        display: none;
    }
}
.hero__container{
    background: url("../components/img/decor/chocolates.png") left 88% center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 0 0;

    @include tablets{
        background: none;
    }
}
.hero__main-title{
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;
}
.hero__title-desc{
    width: rem(480px);
    font-size: rem(21px);
    margin-bottom: rem(25px);
    padding-right: 10%;

    @include tablets{
        padding: 0 15%;
    }
}
