.hero__container{
    position: relative;
    background: url("../components/img/decor/list1.png") right 15% top 25%  no-repeat;

    

    &:before {
        content: url("../components/img/decor/Ягоды1.png");
        position: absolute;
        bottom: 10%;
        right: 15%;
        
        @include tablets{
            top: 25%;
            left: 30%;
        }

    }
    &:after{
        content: url("../components/img/decor/list2.png");
        position: absolute;
        bottom: -5%;
        right: 15%;

        @include tablets{
            top: 35%;
            left: 50%;
        }
    }

  
   
}

.hero__container-img {
    position: relative;
   
}
