.hero{
background: url("../components/img/decor/chocolates.png") left 88% center no-repeat, 
url(../components/img/decor/узор1.png) right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    max-height: 650px;
    color: #ffffff;
    position: relative;

    &:before{
        content: url("../components/img/decor/Лист3.png");
        position: absolute;
        bottom: -40px;
        left: 2%;
    }

    &:after{
        content: url("../components/img/decor/Ягода2.png");
        position: absolute;
        bottom: -40px;
        right: 91px;
    }

}
.hero__title-section{
    width: 46%;
    
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 0 0;
}
.hero__main-title{
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.hero__title-desc{
    width: 480px;
    font-size: 21px;
    margin-bottom: 25px;
    padding-right: 10%;
}
