@charset "UTF-8";
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: black;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 95%;
  min-height: 642px;
  max-width: 940px;
  position: relative;
}

.container-slider {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #ffffff;
  position: relative;
}
.hero:after {
  content: "";
  background-image: url("./img/decor/comp.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 463px;
  height: 364px;
  right: 0%;
  bottom: -3%;
}
@media screen and (max-width: 768px) {
  .hero:after {
    position: absolute;
    width: 326px;
    height: 255px;
    top: 24%;
    left: 35%;
  }
}
@media screen and (max-width: 480px) {
  .hero:after {
    position: absolute;
    width: 255px;
    height: 200px;
    left: 14%;
    top: 26%;
  }
}
.hero:before {
  content: "";
  background-image: url("./img/decor/узор1.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 512px;
  height: 648px;
  right: 0%;
  bottom: 0%;
}
@media screen and (max-width: 768px) {
  .hero:before {
    position: absolute;
    top: 6%;
    width: 512px;
    height: 648px;
  }
}
@media screen and (max-width: 480px) {
  .hero:before {
    position: absolute;
    background-size: cover;
    width: 324px;
    height: 410px;
    top: 5%;
    right: 0%;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    margin-top: 90%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 0 0;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 25px;
    padding: 0 10%;
  }
}

.hero__title-desc {
  width: 26.6666666667rem;
  font-size: 1.1666666667rem;
  margin-bottom: 1.3888888889rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 15px;
    padding: 0 25%;
  }
}

.chocco {
  position: absolute;
  right: 0%;
  top: 20%;
  width: 503px;
  height: 523px;
}
@media screen and (max-width: 768px) {
  .chocco {
    position: absolute;
    width: 353px;
    height: 367px;
    top: 10%;
    left: 30%;
  }
}
@media screen and (max-width: 480px) {
  .chocco {
    position: absolute;
    justify-content: center;
    top: 10%;
    left: 10%;
    width: 255px;
    height: 258px;
  }
}

.list {
  position: absolute;
  left: 0%;
  bottom: 0%;
}
@media screen and (max-width: 480px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .list {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-left: 0.8333333333rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-span {
  width: 1.0555555556rem;
  height: 1.0555555556rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  margin-bottom: 2.7777777778rem;
}

.feature__icon {
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 2.0555555556rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #ffffff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #ffffff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #ffffff;
}
.btn--theme--green:hover {
  color: #ffffff;
  background: #0b4d3c;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.2222222222rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: initial;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 600px;
  }
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 5.5555555556rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 25px;
    margin-bottom: 0%;
  }
}

.section__title-color {
  color: #365a49;
  margin-top: 3.5rem;
}
@media screen and (max-width: 480px) {
  .section__title-color {
    margin-top: 10px;
  }
}

.section__map {
  width: 100%;
  height: 100%;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  text-align: center;
  padding: 0 32%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    text-align: center;
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    text-align: center;
    padding: 0 0%;
    font-size: 14px;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
.benefits__item:before {
  content: url("../components/img/decor/Shape.png");
  position: absolute;
  top: 5.5555555556rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    display: flex;
    text-align: left;
    width: 90px;
    height: 90px;
  }
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  margin-top: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    display: flex;
    justify-content: start;
    margin-left: 10%;
  }
}

.benefit__desc {
  margin-top: 1rem;
  padding: 0 8%;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0 10%;
    justify-content: space-between;
    font-size: 15px;
  }
}

.benefits-section {
  position: relative;
}
.benefits-section:after {
  content: url("../components/img/decor/list.png");
  position: absolute;
}
@media screen and (max-width: 480px) {
  .benefits-section:after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .benefits-section:after {
    position: absolute;
    top: 6%;
  }
}
.benefits-section:before {
  content: url("../components/img/decor/malina.png");
  position: absolute;
  bottom: -7%;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.hero__container {
  position: relative;
}

.hero__container-img {
  position: relative;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-top: 10%;
}

.reviews__display-iner {
  display: flex;
}
.reviews__display-iner:after {
  content: "";
  background-image: url("../components/img/decor/слой1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 127px;
  height: 167px;
  right: 0%;
}
@media screen and (max-width: 480px) {
  .reviews__display-iner:after {
    position: absolute;
    width: 91px;
    height: 115px;
    right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .reviews__display-iner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
}

.reviews__text {
  margin-bottom: 2rem;
  width: 25.7222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding: 0 0%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    padding-left: 10%;
    padding-right: 15%;
    font-size: 15px;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
}

.reviews__switcer {
  display: inline-flex;
  margin-left: 20rem;
}
@media screen and (max-width: 768px) {
  .reviews__switcer {
    margin-left: 30%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__switcer {
    margin-left: 20%;
  }
}

.interactiv-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactiv-avatar--activ {
  border-color: #0f5a47;
}

.interactiv-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactiv-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-display {
  position: relative;
}
.section-display:after {
  content: url("../components/img/decor/compo.png");
  position: absolute;
  margin-top: 70%;
  margin-left: 0%;
}
@media screen and (max-width: 768px) {
  .section-display:after {
    position: absolute;
    bottom: -10%;
  }
}
@media screen and (max-width: 480px) {
  .section-display:after {
    position: absolute;
    bottom: -30%;
  }
}
.section-display:before {
  content: "";
  background-image: url("../components/img/decor/клубника.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 136px;
  height: 78px;
  position: absolute;
  right: 0%;
  top: 25%;
}
@media screen and (max-width: 768px) {
  .section-display:before {
    position: absolute;
    right: 0%;
    top: 10%;
  }
}
@media screen and (max-width: 480px) {
  .section-display:before {
    width: 96px;
    height: 58px;
    position: absolute;
    right: 0%;
    top: 10%;
  }
}

.order-section {
  position: relative;
  background: url("../components/img/fon.png") no-repeat;
  background-size: cover;
}
.order-section:before {
  content: url("../components/img/decor/ягодаorder.png");
  position: absolute;
  left: 5%;
  margin-top: 28.3333333333rem;
}
@media screen and (max-width: 480px) {
  .order-section:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .order-section:before {
    display: none;
  }
}
.order-section:after {
  content: url("../components/img/decor/листorder.png");
  position: absolute;
  right: 0%;
  margin-top: 21.6666666667rem;
}
@media screen and (max-width: 480px) {
  .order-section:after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .order-section:after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  height: 58px;
  width: 100%;
  border: solid 0.1666666667rem transparent;
  padding: 1rem 0;
}
@media screen and (max-width: 480px) {
  .form__input {
    height: 30px;
  }
}
.form__input--texterea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 480px) {
  .form__input--texterea {
    height: 75px;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__title {
  font-size: 1rem;
  color: #365a49;
}

.form__btns {
  margin-top: 2.5555555556rem;
  margin-bottom: 4.7222222222rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../components/img/icon/галочка.png") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio {
    display: inline-flex;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio--checkbox {
  margin-top: 1.4444444444rem;
}
@media screen and (max-width: 480px) {
  .radio--checkbox {
    display: flex;
  }
}

.radio--left {
  margin-left: 1.6111111111rem;
}

.radio__title {
  font-size: 1rem;
  color: #365a49;
  margin-left: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .radio__title {
    display: flex;
    margin-left: 10px;
    font-size: 15px;
  }
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--activ .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  width: 100%;
}

.reviews__container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .reviews__container {
    margin-top: 37%;
  }
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    z-index: 1000;
  }
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 93%;
  width: 26px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #313131;
}

.menu__burgeritem {
  display: block;
  padding: 12px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

.simple-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  border: none;
}

.arrow {
  width: 14px;
  height: 27px;
}
@media screen and (max-width: 768px) {
  .arrow {
    width: 14px;
    height: 27px;
  }
}
@media screen and (max-width: 480px) {
  .arrow {
    width: 34px;
    height: 47px;
  }
}

.slider {
  display: flex;
  width: 1000px;
  overflow: hidden;
  margin: 0 10px;
}
.slider:after {
  content: "";
  background-image: url("./img/decor/decorr.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0%;
  top: 45%;
}
@media screen and (max-width: 480px) {
  .slider {
    display: flex;
    align-items: center;
  }
}

.items {
  display: flex;
  position: relative;
  color: #444;
  right: 0;
  transition: right 0.3s;
  border: none;
}

.item {
  display: flex;
  background-color: #F8FAF9;
  box-sizing: border-box;
  width: 100%;
  border: none;
}
@media screen and (max-width: 768px) {
  .item {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.slaid {
  background: #F8FAF9;
}

.mainmenubtn {
  background: none;
  color: silver;
  border: none;
  cursor: pointer;
}

.mainmenubtn:hover {
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

.dropdown-child {
  background: #e7e5e5;
  text-decoration: none;
  position: absolute;
  left: 95%;
  top: 0%;
  display: none;
  min-width: 15.1666666667rem;
}

.dropdown__img {
  display: inline;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropdown__content {
  display: inline-flex;
  margin-left: 20px;
  margin-top: 15px;
}

.dropdown__title {
  margin-left: 20px;
}

.subtitle {
  margin-left: 55px;
}

.dropdown__link {
  margin-left: 60px;
  margin-top: 40px;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.container__sliders {
  display: flex;
  background: #F8FAF9;
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .container__sliders {
    flex-direction: column;
    align-items: center;
    width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .container__sliders {
    display: flex;
    align-items: center;
  }
}

.slider__list {
  display: flex;
  margin-top: 24px;
}

.slider__img-content {
  width: 50%;
  margin-top: 30%;
}
@media screen and (max-width: 768px) {
  .slider__img-content {
    margin-top: 86px;
    margin-right: 20%;
  }
}
@media screen and (max-width: 480px) {
  .slider__img-content {
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 70%;
    width: 250px;
    height: 150px;
  }
}

.slider__content {
  width: 50%;
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .slider__content {
    margin-top: 0%;
  }
}

.slider__text {
  font-size: 56px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .slider__text {
    width: 672px;
    margin-left: -45%;
  }
}
@media screen and (max-width: 480px) {
  .slider__text {
    font-size: 38px;
    padding: 0 20%;
  }
}

.slider__title-content {
  margin-top: 23px;
}

.slider__title {
  margin-top: 23px;
  padding-right: 15%;
}
.slider__right {
  margin-left: 44px;
}

.slider__subtitle {
  font-weight: bold;
}

.slider__left-praice {
  font-size: 60px;
}

.slider__right-btn {
  margin-top: 24px;
}

.team {
  display: inline-flex;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4%;
  text-align: center;
  width: 222px;
  height: 454px;
}
@media screen and (max-width: 768px) {
  .team__item {
    display: none;
  }
}

.team__title {
  display: inline-flex;
  background-color: #FFFFFF;
  border: none;
  font-size: 21.0181px;
  font-weight: bold;
  color: none;
  cursor: pointer;
  text-align: center;
  margin-left: 2%;
  outline: none;
}
@media screen and (max-width: 768px) {
  .team__title {
    display: contents;
  }
}

.active, .team__title:hover {
  background-color: none;
}

.htitle {
  font-size: 18px;
}

.ptitle {
  font-size: 18px;
  padding: 3% 10%;
}
@media screen and (max-width: 768px) {
  .ptitle {
    width: 300px;
    z-index: 1000;
  }
}

.team__content {
  width: 242px;
  display: flex;
  background-color: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300;
  }
}

.team__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team__content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  margin-left: 60%;
}
@media screen and (max-width: 480px) {
  .socials {
    margin-left: 0;
  }
}

.socials__item {
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
}
.socials__link:hover .socials__icon {
  opacity: 1;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #000;
  opacity: 0.3;
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer-section {
  height: 100px;
}

.contacts {
  justify-content: flex-start;
}

.phone-number__footer {
  display: flex;
}

.accord {
  height: 100vh;
  position: relative;
  background: url(./img/decor/menufon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.accord__list {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
}
.accord__item {
  display: flex;
  height: 100%;
}
.accord__trigger {
  height: 100%;
  width: 100px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.accord__trigger--1 {
  background-image: url(./img/decor/batmilk.png);
}
.accord__trigger--2 {
  background-image: url(./img/decor/bat.png);
}
.accord__trigger--3 {
  background-image: url(./img/decor/jag.png);
}
.accord__trigger::before {
  content: "";
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(97, 96, 96, 0.4);
}
.accord__content-wrap {
  width: 0;
  overflow: hidden;
  transition: 1s;
}
.accord__content {
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  height: 100%;
  padding: 30px 80px 30px 38px;
}