.section-display {
 
    
    position: relative;
    
   
    &:after{
        content: url("../components/img/decor/compo.png");
        position: absolute;
        margin-top: 70%;
        margin-left: 0%;


        @include tablets{
            position: absolute;
            bottom: -10%;
        }

        @include phones{
            position: absolute;
            bottom: -30%;
        }

        
         
    }

    &:before {
        content: "";
        background-image: url("../components/img/decor/клубника.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 136px;
        height: 78px;
        position: absolute;
        right: 0%;
        top: 25%;

        @include tablets{
            position: absolute;
            right: 0%;
            top: 10%;
        }

        @include phones{
            width: 96px;
        height: 58px;
            position: absolute;
            right: 0%;
            top: 10%;  
        }
    }

   
    
    
}
