.slaid{
    background: #F8FAF9;


    &:after{
        content: url("../components/img/decor/decorr.png");
        position: absolute;
        right: 0;
        bottom: 48%;
          @include tablets{
              position: absolute;
              bottom: 43%;
          }
       
    }
    
}

.mainmenubtn{
     background: none;
     color: silver;
     border: none;
     cursor: pointer;
    
 }

.mainmenubtn:hover{
     background: none;
 }

.dropdown{
     position: relative;
     display: inline-block;

     
     @include tablets{
        display: none;
    }
 }

.dropdown-child{
    background: rgb(231, 229, 229);//rgba(255, 255, 255, 0.8);
    text-decoration: none;
     //text-align: center;
     
     position: absolute;
     left: 95%;
     top: 0%;
     display: none;
     min-width: rem(273px);

    
}

.dropdown__img{
    display: inline;
    //flex-direction: column;
    margin-left: 10px;
    //margin-bottom: 10px;
}

.dropdown__content{
    display: inline-flex;
    margin-left: 20px;
    margin-top: 15px;
    //padding: 10px 10px;
}
.dropdown__title{
    margin-left: 20px;
    
}

.subtitle{
    
    margin-left: 55px;
}
.dropdown__link{
    margin-left: 60px;
    margin-top: 40px;
}


.dropdown:hover .dropdown-child{
     display: block;
 }


.slaid__display{
    display: flex;
    width: 100%;

    

    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}
.slaid__img{
    position: relative;
    width: 545px;
    height: 470px;
   // margin-right: 10%;
   
    left: -10%;

    @include tablets{
        left: 0%;
    }
}

.slaid__display-iner{
    width: 50%;
}
.slaid__title{
   
    justify-content: space-between;
    font-size: rem(36px);
    font-weight: bold;
    line-height: 1;
    margin-top: rem(24px);
    

    @include tablets{
       
        
    }
}

.slaid__text{
margin-top: rem(23px);
padding-right: 10%;

   
}

.slaid__recital{
    display: flex;
    margin-top: rem(24px);
}

.slaid__recital-right{
    margin-left: rem(44px);
}

.slaid__services{
    display: flex;
    margin-top: rem(24px);
}

.slaid__recital-subtitle{
    font-weight: bold;
}

.slaid__praice{
    font-size: rem(60px);
}

.slaid__btn{
    margin-left: rem(20px);
    margin-top: rem(23px);
}


